<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Flask App v21 - 03/06/2021</title>
</head>
<body>
   <h1 style="color: {{ mycolor }}">Hello, Welcome! This text should be {{ mycolor }} in color.</h1>
</body>
</html>
